.trip_item {
  transition: var(--animation);
  &:hover {
    transform: scale(1.1);
  }
}

.description {
  font-size: 10px;
  padding: 5px;
  margin-top: -10px;
  border-left: 1px solid var(--secondary-txt-cl);
  border-right: 1px solid var(--secondary-txt-cl);
  border-bottom: 1px solid var(--secondary-txt-cl);
}

.description_selected {
  font-size: 10px;
  padding: 5px;
  margin-top: -10px;
  border-left: 1px solid var(--accent-cl);
  border-right: 1px solid var(--accent-cl);
  border-bottom: 1px solid var(--accent-cl);
}

.dates {
  color: gray;
}
